:root {
  --main-bg-color: #e1e0e8;
  --line-y-axis: #d6ccd9;
  --line-x-axis: #375ddb;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  position: relative;
  margin: 0 auto;
  max-width: calc(827rem / 16);
  min-height: 1024px;
  background-color: var(--main-bg-color);
  padding-top: calc(128rem / 16);
}

.line-y-axis {
  position: absolute;
  top: 0;
  height: 100%;
  width: calc(3rem / 16);
  margin-left: 113px;
  background-color: var(--line-y-axis);
}
.data-list {
  /* padding: 7px; */
}
.outer-box {
  height: 31px;
  border-bottom: 2px solid var(--line-x-axis);
  display: flex;
  justify-content: center;
  gap: 7px;

  &:first-of-type {
    border-top: 2px solid var(--line-x-axis);
  }
}

.inner-box {
  display: flex;
  margin-left: 113px;
  margin-right: 150px;
  width: 100%;
}

.output {
  /* font-size: 2rem; */
  text-align: center;
  /* padding: 1rem; */
  cursor: pointer;
  /* background-color: beige; */
}

button[type="submit"] {
  padding: 5px;
}

input[type="number"] {
  margin: 0;
  appearance: textfield;
}

.delete-button {
  /* padding: 5px; */
  /* height: 50%; */
  cursor: pointer;
  background-color: var(--main-bg-color);
  /* color: white; */
  font-weight: bold;
  letter-spacing: 2px;
  border: none;
}
