:root {
  --main-bg-color: #e1e0e8;
  --line-y-axis: #d6ccd9;
  --line-x-axis: #375ddb;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 300px) {
  html {
    font-size: 8px;
    font-size: clamp(8px, 2.66vw, 16px);
  }
}
@media screen and (min-width: 827px) {
  html {
    font-size: 16px;
  }
}

main {
  position: relative;
  margin: 0 auto;
  max-width: calc(827rem / 16);
  min-height: 1024px;
  background-color: var(--main-bg-color);
  padding-top: calc(128rem / 16);
}

.line-y-axis {
  position: absolute;
  top: 0;
  height: 100%;
  width: calc(3rem / 16);
  margin-left: calc(113rem / 16);
  background-color: var(--line-y-axis);
}
.data-list {
  /* padding: 7px; */
}
.outer-box {
  height: 31px;
  border-bottom: 2px solid var(--line-x-axis);
  display: flex;
  justify-content: center;
  gap: 7px;

  &:first-of-type {
    border-top: 2px solid var(--line-x-axis);
  }
}

.inner-box {
  display: flex;
  align-items: flex-end;
  margin-left: calc(113rem / 16);
  /* margin-right: 10px; */
  /* margin-right: calc(150rem / 16); */

  width: 400px;
  padding-left: calc(42.5rem / 16);

  & :nth-child(1) {
    flex-grow: 1;
    background-color: yellow;
  }
  & :nth-child(2) {
    flex-grow: 1;
    background-color: lightblue;
  }
  & :nth-child(3) {
    flex-grow: 1;
    background-color: lightcoral;
  }
  & :nth-child(4) {
    flex-grow: 1;
    flex-shrink: 7;
    background-color: rgb(128, 240, 128);
  }
}

.output {
  flex-basis: 100px;
  /* width: 100px; */
  /* font-size: 2rem; */
  text-align: center;
  /* padding: 1rem; */
  cursor: pointer;
  /* background-color: beige; */
}

.price {
  /* margin: 0 auto; */
}

button[type="submit"] {
  padding: 5px;
}

input[type="number"] {
  margin: 0;
  appearance: textfield;
}

.delete-button {
  /* padding: 5px; */
  /* height: 50%; */
  cursor: pointer;
  background-color: var(--main-bg-color);
  /* color: white; */
  /* font-weight: bold; */
  /* letter-spacing: 2px; */
  border: none;
  font-size: 1rem;
}

.hidden {
  height: 10px;
}
